---
layout: post
title: "Matemáticas para todos"
description: |
    Mazematica es un intento de acercar las matemáticas al gran público. Queremos hacer de las matemáticas algo cotidiano, productivo, ameno y divertido, de consumo selectivo y personalizado, romper con las barreras de lo estrictamente académico. Queremos hacer de las matemáticas algo para todos.
---

<p>A menudo la belleza de la madre de las ciencias palidece frente a un lenguaje lejano, abstracto y complejo.</p>
<p><strong>Mazematica</strong> es un intento de acercar las matemáticas al gran público. Queremos hacer de las matemáticas algo cotidiano, productivo, ameno y divertido, de consumo selectivo y personalizado, romper con las barreras de lo estrictamente académico. Queremos hacer de las matemáticas algo <strong>para todos</strong>.</p>

<h2>Tabla de contenidos</h2>

<ul>
{% for p in site.pages %}
  {% if p != page and p.layout == 'post' %}
    <li><a href="{{ p.url }}">{{ p.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>
